<form action="" method="POST" novalidate>
    <script>
        function test_function(){
            var current_selected_user = document.getElementById("options").value;
            // Users.giveMessagesFrom()
            // console.log("Here is messages: " + messages)
            /*fetch(`/test/${current_selected_user}`).then(function (response) {
                console.log("Response: ", response.json().message)
            });*/
            window.location.replace(`http://127.0.0.1:5000/message_room/${current_selected_user}`)
        }
    </script>
    {{ form.hidden_tag() }}
    {{ form.options }}
    {% for message in messages %}
        <p class = "message"> <b> {{ message.give_name(current_user.id) }}: </b> {{ message.content }} </p>
    {% endfor %}
</form>